In [3]:
import pandas
import random

In [1]:
lst = ['robot'] * 10
print(lst)

['robot', 'robot', 'robot', 'robot', 'robot', 'robot', 'robot', 'robot', 'robot', 'robot']

In [2]:
lst += ['human'] * 10
print(lst)

['robot', 'robot', 'robot', 'robot', 'robot', 'robot', 'robot', 'robot', 'robot', 'robot', 'human', 'human', 'human', 'human', 'human', 'human', 'human', 'human', 'human', 'human']

In [5]:
random.shuffle(lst)
print(lst)

['human', 'robot', 'robot', 'robot', 'human', 'robot', 'robot', 'robot', 'human', 'human', 'robot', 'robot', 'human', 'human', 'human', 'robot', 'robot', 'human', 'human', 'human']

In [6]:
data = pandas.DataFrame({'whoAmI':lst})
data.head()

  whoAmI
0  human
1  robot
2  robot
3  robot
4  human

In [12]:
# Получаем уникальные категории
categories = data['whoAmI'].unique()

In [13]:
# Создаем новый DataFrame для one-hot кодировки
one_hot_data = pandas.DataFrame()

In [15]:
# Для каждой категории создаем новый столбец и заполняем его
for category in categories:
    one_hot_data[category] = (data['whoAmI'] == category).astype(int)

# Выводим первые строки
print(one_hot_data.head(n=20))

    human  robot
0       1      0
1       0      1
2       0      1
3       0      1
4       1      0
5       0      1
6       0      1
7       0      1
8       1      0
9       1      0
10      0      1
11      0      1
12      1      0
13      1      0
14      1      0
15      0      1
16      0      1
17      1      0
18      1      0
19      1      0